.empty {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto 2rem;
    width: 59%;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    cursor: pointer; }