* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 0px 0px 0px 6px rgb(255 255 255 / 40%);
    --orange: #fcc927;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    padding: 0.8rem 2.5em;
    text-transform: uppercase;
    background: #fff;
    color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: black;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.title h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.title span {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2;
    color: var(--orange);
}

.line, .line4 {
    background-image: url('img/file.');
    width: 100%;
    height: 100px;
    margin-top: -3.6rem;
}



.line2, .line3 {
    background-image: url('img/3.png');
    width: 100%;
    height: 100px;
    margin-top: -3.5rem;
}

.line3 {
    margin-bottom: 7rem;
}


.message,.empty {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto 2rem;
    width: 59%;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    cursor: pointer; 
}


.empty{
text-align: center;
align-items: center; justify-content: center; padding: 1rem;
}
.message i {
    cursor: pointer; 
}


input,
button,
textarea,
select {
    outline: none;
    border: 1px solid #55555544;
    background: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}

button {
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

.form-container {
    background: var(--orange);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    position: relative;
    min-height: 100vh;
}

.form-container::before,.message-container::before,.show-products::before,.order-container::before {
    content: '';
    position: absolute;
    background: url('img/6.png');
    top: -5%;
    left: -10px;
    width: 255px;
    height: 650px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}

.form-container::after {
    content: '';
    position: absolute;
    background: url('img/6.png');
    bottom: 0;
    right: 0;
    width: 255px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 1;
}

.form-container h1 {
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;
}

.form-container form {
    width: 60%;
    margin: 1rem auto;
    background: rgb(255 255 255 / 80%);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 5px;
}

.form-container form label {
    text-transform: uppercase;
    width: 100%;
}

.form-container form input,
.form-container form textarea {
    width: 85%;
}

.form-container form textarea {
    height: 200px;
    background: var(--orange);
    border: none;
}


/*banner */

.banner {
    background: var(--orange);
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
    
}

.banner::before {
    position: absolute;
    content: '';
    bottom: -18%;
    right: 0;
    background-image: url('img/images.jpg'); 
    width: 316px;
    height: 245px;
    background-size: 316px;
    background-repeat: no-repeat;
}


.banner .detail {
    position: absolute;
    padding: 7rem 0;
    left: 35%;
    text-align: center;
    z-index: 200;
}
.banner .detail {
    position: absolute;
    padding: 7rem 0;
    left: 35%;
    text-align: center;
    z-index: 200;
}

.banner .detail h1 {
    font-size: 4rem;
    color: #ffffff;
    text-transform: capitalize;
}

.banner .detail p {
    font-size: 18px;
    line-height: 2;
}

.banner .detail a {
    text-transform: uppercase;
    color: #000;
}
.banner .detail span {
   
    color: #fff;
}



/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transition: .3s;
}

header.scrolled {
    background: #fff;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

header.scrolled a:hover {
    color: var(--orange);
}

/* Flex container for centering items */
.flex {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}


/* Navbar links */
.navbar a {
    margin: 0 1rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
}



.navbar a:hover,
header .icons i:hover {
    color: #f3ecec;
    text-decoration: none;
}

.header .icons {
    display: flex;
}

.header .icons i{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;

}

/* Hide the menu button by default */
#menu-btn {
    display: none;
}


.header .user-box {
    position: absolute;
    top: 120%;
    right: 0rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
}

.logout-btn {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
    border-radius: 4px;
}

.header .user-box.active {
    transform: scale(1.0);
    transition: 0.3s linear; /* Shortened transition duration */
}

/* Admin Dashboard */
.dashboard {
    background: var(--orange);
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
}

.dashboard::before {
    position: absolute;
    content: '';
    top: -25%;
    left: -10px;
    background-image: url('img/10.png');
    width: 225px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}

.box-container {
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 1rem;
}

/* Admin Dashboard */
.dashboard {
    background: var(--orange);
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
}

.dashboard::before {
    position: absolute;
    content: '';
    top: -25%;
    left: -10px;
    background-image: url('img/10.png');
    width: 225px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}

.box-container {
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 1rem;
}

.box-container .box {
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
}

.dashboard h3 {
    text-align: center;
    font-size: 2rem;
}

.dashboard p {
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0;
}

/*--admin product page-*/
.add-products{
    margin-top: -3.5rem;
height: auto;
background: #f5f5f5;
position: relative;
}

.show-products,.message-container,.order-container{
    position: relative;
    background: var(--orange);
    margin-top: -3.5rem;
}
.show-products::before, .order-container::before{
    background-image: url('img/logo.jpg');
    top: -100px;
}


show-products .box-container{
grid-template-columns: repeat (auto-fit, minmax (20rem, 1fr));
}

.box-container .box h4 {
    text-transform: capitalize; /* Capitalizes the first letter of each word */
}

.box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
}
.edit, .delete{
  
    color: black;
    background: var(--orange); padding: .5rem 1.5rem;
    text-transform: capitalize; 
    Line-height: 2;
    }
    
/*--Update Container-*/
           
.update-container{
    background-color: #000;
    position: fixed;
    top: 0; Left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: var(--orange); 
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
    }
.update-container form{
        box-shadow: var(--box-shadow);
        width: 50%;
        background: #f3efef;
        padding: 1rem;
        margin: 2rem auto;
        text-align: center;
        font-size: 40px;
        }   
.update-container .edit,
.update-container .btn{
        width: 40%;
        cursor: pointer;
        }

.update-container form img{
            width: 60%;

        }
.self{
    background-image: url('img/b.jpg');
    background-size: cover; /* Ensures the image covers the entire page */
    background-repeat: no-repeat;
   
}
.update-container .title,.order-container .title,.message-container .title{
    text-transform: uppercase;
    padding-top: 3rem;
}



.order-container{
    padding: 3% 7%;
}

.order-container .box-container{
    grid-template-columns: repeat (auto-fit, minmax(20rem,1fr)); justify-content: center;
    align-items: flex-start;
}

.box-container .box{
    text-align: left;
    padding: 1rem 2rem;
}



.order-container .box p{ 
    margin-bottom: .5rem; 
    text-transform: capitalize; 
    color: hotpink;
    
    
}

    .box span{
    color: #555;
    }
    
    .order-container form{
    text-align: center;
    }
    .order-container form select{
        width: 100%;
    margin: 1rem auto;
    padding: .5rem 0; cursor: pointer; border-radius: 3px;
    }
    
    .order-container .box .delete{ 
        width: 40%;
    }
    
.order-container form input{
    width: 40%;
    border-radius: unset;
    border: none;
    background: var(--orange);
    color: #000;
    text-transform: capitalize;
    }

    .order-container form input:hover, .order-container .box .delete:hover{
        
        color: #fff;
        background: #000;
        
        }
/* Media Queries - Screen */
@media (max-width: 991px) {
    #menu-btn {
        display: block;
    }
    
    .header .flex .navbar {
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
    
    .header .flex .navbar a:hover {
       color: var(--orange);
    }



    .banner .detail {
        left: 10%;
    }
}



